.NavLinksHover{
  position: relative;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.NavLinksHover::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right,rgb(234, 144, 111),orangered);
  transition: width 0.3s ease;
}
.NavLinksHover:hover::after{
  width: 100%;
}

.homeHeadingTag{
  position: relative;
  text-decoration: underline 3px rgb(241, 104, 54);
  text-underline-offset: 7px;
  z-index: 10;
  transition: all 0.7s ease;
}
.homeHeadingTag::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right,rgb(234, 144, 111),rgb(255, 153, 0));
  transition: width 0.3s ease;
  z-index: -10;
}
.homeHeadingTag:hover::after{
  width: 100%;
}






.UnderlineStyle{
  position: relative;
  /* text-decoration: underline 3px rgb(241, 104, 54); */
  text-underline-offset: 7px;
  z-index: 10;
  transition: all 0.7s ease;
}
.UnderlineStyle::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right,rgb(234, 144, 111),rgb(255, 153, 0));
  transition: width 0.3s ease;
  z-index: -10;
}
.UnderlineStyle:hover::after{
  width: 0;
}

.workwithpeople p{
  margin: 0 0 10px 0;
}
.inputborderbottom {
  outline: none;
  border: none;
  border-bottom: 3px solid rgb(96, 96, 96); 
  transition: border-bottom-color 0.3s ease;
}

.inputborderbottom:focus {
  border-bottom-color: #db722c;
}